@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway:400,500|Roboto:700,900&display=swap');

$bg-color: #f6f6f6;
$title-color: #3c3c3c;
$text-color: #b1a19b;


// толщина границы
$b-size: 1px;

$text-ff: 'Lato', sans-serif;
